NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27018/orbly
JWT_SECRET=change-me-to-a-random-string-at-least-32-chars
JWT_ACCESS_EXPIRES_MIN=15
JWT_REFRESH_EXPIRES_DAYS=7
CORS_ORIGIN=http://localhost:3000,http://localhost:8081
